%p#notice= notice

%p
  %b Contact:
  = @contact_number.contact
%p
  %b Label:
  = @contact_number.label
%p
  %b Number:
  = @contact_number.number

= link_to 'Edit', edit_contact_number_path(@contact_number)
\|
= link_to 'Back', contact_numbers_path
