%p#notice= notice

%p
  %b Contact:
  = @contact_address.contact
%p
  %b Label:
  = @contact_address.label
%p
  %b Address:
  = @contact_address.address

= link_to 'Edit', edit_contact_contact_address_path(@contact_address)
\|
= link_to 'Back', contact_contact_addresses_path
