<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @address.contact %>
</p>

<p>
  <strong>Label:</strong>
  <%= @address.label %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
